<div class="parallax p-0"></div>

<h3 class="text-justify m-3 text-uppercase font-weight-bold">Sobre Direitos Humanos e Minorias</h3>

<p class="text-justify m-5">Os Direitos Humanos constituem a categoria mais básica de direitos que qualquer ser humano,
  em qualquer parte do
  mundo, pode requerer em defesa própria ou de outrem. Não há distinção de classe social, cor, gênero,
  nacionalidade, religião, orientação sexual ou de qualquer outro tipo que anule os direitos fundamentais de uma
  pessoa. Os grupos minoritários têm algumas características comuns que fazem com que possamos identificá-los e
  que também contribuem para a unificação e o fortalecimento das minorias.
</p>

<p class="text-justify m-5">Podemos identificar minorias, primeiramente, pela vulnerabilidade em que se encontram, como
  já falamos
  anteriormente. Outra característica comum às minorias é a organização de movimentos de luta contra privilégios
  de grupos dominantes e a construção de estratégias de luta por direitos.
</p>

<p class="text-justify m-5">Os grupos minoritários, em geral, não encontram amparo suficiente na legislação vigente, ou,
  se o amparo legal
  existe, não é implementado de modo eficaz, logo, estes grupos ficam mais vulneráveis ao preconceito, à
  discriminação e ao extermínio. As minorias lutam contra o padrão vigente estabelecido, que as oprime, e para
  isso utilizam estratégias comuns como passeatas, manifestos e diversos tipos de exposição na mídia.
</p>

<p class="text-justify m-5">Ironicamente, o que chamamos aqui de minorias são, quantitativamente, a maioria da
  população. O termo minoria
  refere-se, na sociologia, a grupos sociais historicamente excluídos do processo de garantia dos direitos básicos
  por questões étnicas, de origem, por questões financeiras e por questões de gênero e sexualidade. Também podem
  entrar no conceito pessoas que se encontram em situação de vulnerabilidade social, como idosos e portadores de
  necessidades especiais.
</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/eBfw2WqNDj0" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>

<p class="text-justify m-5">Essa é uma pequena amostra falando de um dos temas mais comentados e debatidos na sociedade
  atualmente, o racismo. Lembrando de George Floyd e, MESMO DEPOIS DELE, de tantos outros que, infelizmente, perderam
  suas vidas por conta do preconceito enraizado e feroz presente na nossa sociedade, o vídeo mostra que é muito
  importante que as pessoas mais privilegiadas (e quando falo sobre privilégio, falo sobre pessoas brancas, héteros,
  cis) que estão mais presentes e representadas na sociedade, pessoas que nunca tiveram seus direitos calados apenas por
  serem o que são, sejam vozes ativas na defesa dos que não tem tanta visibilidade, como a comunidade negra, a LGBTQIA+,
  mulheres, pessoas com deficiências, pessoas que precisam de inclusão, representação e respeito.
</p>

<p class="text-justify m-5 text-center">
  <img class="img-fluid"
    src="https://indipest.files.wordpress.com/2020/05/101408882_2625171044367938_6337979712261843003_n.jpg">
</p>

<p class="text-justify m-5">
  Nosso papel não se resume a apenas não ser racista ou preconceituoso, é ser ANTI tudo isso, é ser contra e bater de
  frente a cada palavra mal dita, a cada atitude errada, a cada piadinha sem graça. Esse é um grande passo para a
  construção de uma sociedade mais igualitária.
</p>

<p class="text-justify m-5 text-center font-weight-bold">
  WE CAN'T BREATH
</p>
